@import '../../assets/bootstrap/scss/bootstrap.scss';

.like{
    transition: ease .5s;
    transform: scale(1);
    &:active{
    animation: like .7s ;
    position: relative;
    }
    @keyframes like {
        0%{
        transform: scale(1);

        }
        50%{
            transform: scale(1.5);
        }
        100%{
        transform: scale(10);
        }
    }
}